<div class="row-fluid">
  <div class="span3">
    <%= image_tag @friend_page.img, :class => 'img-rounded' %>
  </div>
  <div class="span9">
<%= form_for @friend_page do |f| %>
    <h1>Me and <%= @friend_page.name %> met at     <%= f.text_field :location%></h1>
  </div>
</div>
<div class="row-fluid">
    <div class="notes">
    <h1>Notes</h1>
  <%= f.text_area :notes %>  
    </div>
</div>
  <%= f.submit "Done Editing" %>
<% end %>
