<!DOCTYPE html>
<html>
<head>
  <title>Facenote</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'>
  <div class='navbar-inner'>
  <ul class='nav'>
    <li><%= link_to 'Home', root_path %></li>
  <% if user_signed_in? %>
    <li><%= image_tag @picture %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign In", user_session_path %></li>
   <% end %>
  </ul>
  </div>
</div>
  <% flash.each do |type, message| %>
      <div class="flash">
       <%= message %>
    </div>        
  <% end %> 
     <%= yield %>

</body>
</html>
