<!DOCTYPE html>
<html>
<head>
  <title>Facenote</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'>
  <div class='navbar-inner'>
  <ul class='nav'>
  <% if user_signed_in? %>
    <li><%= image_tag @picture, :class => "img-rounded" %></li>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Pick Friends', pick_friends_path %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
   <% end %>
  </ul>
  </div>
</div>
  <div class="container-fluid">
    <div class="span2">
          <h5>Friend Pages</h4>
        <ul>
          <div class="btn-group btn-group-vertical">
        <% FriendPage.all.each do |f| %>
          <% unless f.has_page.nil? %>
            <li><a class="btn btn-length" href="/friend_pages/<%= f.fb_id %>"><%= truncate(f.name, :length => 14) %></a></li>
        <% end %>
        <% end %>
          </div>
        </ul>
    </div>
    <div class="span8">
      <%= yield %>
    </div>
  </div>

</body>
</html>
